.page-banner {
	height: 12rem;
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
}

.navbar-logo {
	height: 32px;
}

.pop:hover {
	transform: scale(1.02); 
}

.pop {
	transition: all 0.5s ease-out;
}

.press:hover {
	background: whitesmoke;
}

.press {
	transition: all 0.3s ease-out;
}